/* 990PX */
@media (max-width : 990px) {
    /* AUTHOR AND BOOK SECTION */
    .left_section {
        width: 45%;
    }
    
    .right_section {
        width: 53%;
    }
    

}

/* 768PX */
@media (max-width : 768px) {
    .child_img_section {
        height: 40vh;
    }

    .child_body_section {
        height: 50vh;
    }

    .help_text {
        font-size: 1.4rem;
    }
    .child_body_section h2 {
        font-size: 2.5rem;
    }

    .child_link a {
        font-size: 1.3rem;
    }

    .footer_text {
        font-size: 1.4rem;
    }

     /* AUTHOR AND BOOK SECTION */
     .left_section , 
     .right_section {
        width: 100%;
    }
    
    
}

/* 572PX */
@media (max-width : 572px) {}