@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* TEXT AND BG COLORS */
    --white: #fff;
    --light-white: #cfcfd0;
    --black: #171542;
    --blue: #21D8FC;
    --dark-blue: #449efe;
    --light-blue : #11235A;
    --bg-color: #09101a;
    --purple-color: #513a91;
    --dark-purple: #910A67;
    --pink: #D63484;
    --green: #19876d;
    --heading-font: "Montserrat", sans-serif;
    --text-font: "Poppins", sans-serif;
    /* TRANSITION */
    --transition: all 0.4s ease-in;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    background-color: var(--white) !important;
    font-family: var(--text-font);
    font-size: 1.5rem;
}

.font-heading {
    font-family: var(--heading-font) !important;
}

.font-text {
    font-family: var(--text-font) !important;
}

/* COLORS CLASSES */
.text-light-white {
    color: var(--light-white) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-light-blue {
    color: var(--light-blue) !important;
}

.text-purple {
    color: var(--purple-color) !important;
}

.bg-light-blue {
    background-color: var(--light-blue) !important;
}

/* FONT WEIGHT CLASSES */
.fw-normal {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.text-base {
    font-size: 1.6rem;
}

.text-14 {
    font-size: 1.4rem;
}


/* -------------------------------------------- CHILD PAGE START-------------------------------------------- */
.child_img_section {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.child_body_section {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.help_text {
    font-size: 1.6rem;
    font-weight: normal;
    color: #000;
}

.child_body_section h2 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.child_btn_primary {
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border: 0.2rem solid var(--blue);
    border-radius: 0.4rem;
    background-color: transparent;
    font-size: 1.4rem;
}

.child_btn_secondary {
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border: 0.2rem solid var(--light-white);
    border-radius: 0.4rem;
    background-color: transparent;
    font-size: 1.4rem;
    transition: var(--transition);
}

.child_btn_secondary:hover,
.child_btn_secondary:focus {
    border-color: var(--blue);
}

.progress_bar-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress_bar-section p {
    font-size: 1.4rem;
    font-family: var(--text-font);
}

.progress_bar {
    width: 250px;
    height: 7px;
    border-radius: 0.8rem;
    background-color: var(--light-white);
}

.progress_bar_inner {
    width: 130px;
    height: 7px;
    border-radius: 0.8rem;
    background-color: var(--blue);
}

.child_link_section {
    margin-top: 4rem;
}

.child_link a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--purple-color);
}

.footer_text {
    color: #cbcbf2;
    font-size: 1.5rem;
    font-weight: 400 !important;
}

/* -------------------------------------------- DATE OF BIRTH PAGE START-------------------------------------------- */
.form-control,
.form-select {
    width: 140px;
    height: 50px;
    border: 0.2rem solid var(--light-white);
    transition: var(--transition);
}

.form-control:focus,
.form-select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--blue) !important;
}


/* -------------------------------------------- DASH PAGE START-------------------------------------------- */
.dashboard {
    background-color: #e8e8e8 !important;
}

.nav_section {
    background-color: var(--dark-blue);
}

.shadow {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) !important;
}

.navbar-brand .logo {
    width: 2rem;
    height: 2rem;
    border: 0.3rem solid var(--white);
    position: relative;
    transform: rotate(45deg);
}

.navbar-brand p {
    font-size: 1.6rem;
    font-weight: 550;
}

.nav_link ul li i {
    font-size: 2rem;
    color: var(--white);
}

.nav_link .user p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
}

.nav_link .user img {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
}

.header_card {
    margin-top: 4rem;
    width: 100%;
    height: 25vh;
}

.dashboard_card_section {
    margin-top: -7rem;
}

.card_one {
    background-color: var(--green);
}

.card_two {
    background-color: #256aea;
}

.card_three {
    background-color: var(--dark-purple);
}

.card_four {
    background-color: var(--pink);
}

.dashboard_card i {
    font-size: 8rem;
    opacity: 0.3;
}

.dashboard_card h3 {
    font-size: 3rem;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
}

.table th,
.table td {
    white-space: nowrap;
}

.table-responsive th:first-child {
    width: 50%;
}

.table_img {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
}

/* AUTHOR SECTION */
.left_section {
    width: 30%;
}

.right_section {
    width: 68%;
}

.btn-badge {
    width: 100px;
    height: 30px;
    font-size: 1.4rem;
    line-height: 30px;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--dark-blue);
    margin-bottom: 0;
    color: var(--white);
}

/* -------------------------------------------- MEMEBER DASHBOARD PAGE START-------------------------------------------- */
.member_header h2 {
    font-size: 3rem;
}
